*{
  font-family:lato,san-serif;
}

.container{
  max-width:940px;
  margin:0 auto;
 position:relative;
 top:200px;
 text-align:center;
 font-size:32px;
 color:red;
	
}

.header{
  background: url(img/alone.jpg) no-repeat 50% 30%;
  background-size:cover;
  height:50%;
opacity:0.5;

}

.main{
text-align:center;
margin-top:50px;
}
.wonderpolis{
 background: url(img/wonderpolis.jpg) no-repeat center;
background-size:contain;
height:300px;
padding:50px;

}
.civil-eng{
background: url(img/civil-engineering.jpg) no-repeat center;
background-size:contain;
height:300px;
padding:40px;
opacity:0.5;
}

.hobby{
 background: url(img/hobby.jpg) no-repeat center;
background-size:contain;
height:300px;
padding:50px;
}
